<% content_for :title, "Liste des 100 notions" %>
<p id="notice"><%= notice %></p>

<h1>Notions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notions.each do |notion| %>
      <tr>
        <td><%= notion.title %></td>
        <td><%= link_to 'Show', notion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notion', new_notion_path %>
