<% content_for :title, "Liste des 100 notions" %>
<p id="notice"><%= notice %></p>
<div class="notions">
<h1>Notions</h1>
    <ul><% @notions.each do |notion| %>

        <li><%= link_to notion.title, notion %></li>

    <% end %>
    </ul>
</div>
<%= link_to 'New Notion', new_notion_path %>
