<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @indefinition.title %>
</p>

<%= link_to 'Edit', edit_indefinition_path(@indefinition) %> |
<%= link_to 'Back', indefinitions_path %>
