/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  .nav-perso{
      background-color: white;
  }
    .nav-perso .navbar-brand img{
      height: 26px;
      width: 131px;
    }
  .collapse-perso .nav img{
    height: 20px;
    width: 20px;
  }
    .collapse-perso .navbar-form{
      margin-top: 10px;
      text-align: center;
      width: 65%;
    }
      .collapse-perso .navbar-form input{
        background-color: #e3e3e3;
        color: black;
        height: 30px;
      }
      .collapse-perso .navbar-form button{
        height: 30px;
      }
}

.button-group{
  display: inline;
}
