/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  .nav-perso{
      background-color: white;
      margin-bottom: 30px;
  }
    .nav-perso .navbar-brand img{
      height: 26px;
      width: 131px;
    }
  .collapse-perso .nav img{
    height: 20px;
    width: 20px;
  }

    .collapse-perso .navbar-form{
      margin-top: 10px;
      text-align: center;
      width: 55%;
    }
      .collapse-perso .navbar-form input{
        background-color: #e3e3e3;
        color: black;
        height: 30px;
      }
      .collapse-perso .navbar-form button{
        height: 30px;
      }

  section.container{
      .notions{
        background-color: white;
        //height: 120px;
        h1{
          margin-top: 0px;
          padding-top: 10px;
          margin-left: 15px;
        }
        a{
          display: block;
          img{
            height: 30px;
            width: 30px;
            margin-top: 15px;
          }
          &:hover{
            text-decoration: none;
            background: none;
          }
        }

        .row{

          div{
            text-transform: capitalize;

            a{
              text-decoration: none;
              margin-bottom: 10px;
              border: 1px solid #1812d6;
              color: #1812d6;
              &:hover{
                color: white;
                background: #1812d6;
              }
            }

          }
        }
      }
      .actu{
        .actualite{
          h2 {
            margin-left: 15px;
            padding-top: 10px;
          }
          .conte {
            margin-left: 27px;
            margin-right: 27px;
            img{
              margin-top: 20px;
            }
            h3{
              margin: 0;
              margin-top: 7px;
           }
            p{
            text-align: justify;

            }
            a{
            &:hover {
              background: none;
              color: #1812d6;
              text-decoration: none;
            }
            }
          }
        }
      }
      .profile{
        background: white;
        position: fixed;
        right:0;
        left: 58%;
        .cont{
          text-align: center;
          img {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            display: block;
            margin: auto;
            margin-top: 20px;
          }
          p{
            margin-bottom: 20px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              list-style-type: none;
              margin-bottom: 15px;
              a{
                text-decoration: none;
                &:hover {
                  color: #1812d6;
                  background: none;
                }
              }
            }
          }
        }
      }
      .actu{
        .actualite{
          background: white;
        }
      }
    }
    footer{
      .coucou{
        margin-top: 5%;
        position: relative;
        bottom:0;
        left:0;
        height:70px;

        background: white;
      }

    }
}


.button-group{
  display: inline;
}
@media (max-width: 768px) {
 section .notions .row div{
   left: 25%;
  }
 }
